NEXT_PUBLIC_SUPABASE_URL=https://[your_project_id].supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiZGF0YSI6Imh0dHBzOi8vd3d3LnlvdXR1YmUuY29tL3dhdGNoP3Y9ZFF3NHc5V2dYY1EiLCJpYXQiOjE1MTYyMzkwMjJ9.ClOFWejfA6IQamyCsYfyC8X7COmBKyLlthnjR3ixL2s